html, body {
  height: 100%;
}

body {
  min-height: 100%;
  #height: 100vh;
  margin: 0;
  font-family: -applet-system
    ,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans
    ,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  #background-color: #1c69ca;
  background: #1c69ca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #1c69ca, #122255); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right,  #1c69ca, #122255); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,  #1c69ca, #122255); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,  #1c69ca, #122255); /* Standard syntax */
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #d0021b;
}

#app {
  #padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.playlist {
  margin: auto;
  color: black;
  width: 400px;
  border: 2px gray solid;
  border-radius: 10px;
  max-height: 400px;
  overflow: auto;
  margin-top: 10px;
  background-color: floralwhite;
  font-weight: bold;
}

/*
 *  STYLE 7
 */

.playlist::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.playlist::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 10px;
}

.playlist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.15, rgb(210,210,210)),
									   color-stop(0.30, rgb(168,168,169)),
									   color-stop(.75, rgb(193,194,197)));
}

.playlist li {
  cursor: pointer;
  /*padding-left: 25px;*/
  /*padding: 2px 25px;
  border: thin gray solid;    */
  padding: 2px 25px;
  /*border: thin rgba(210, 210, 210, 0.19) solid;*/
  margin: -1px 0px -1px -1px;
}

.playlist li.active {
  background-color: #1c69ca;
  color: white;
  /*border-radius: 8px;*/
}

.player {
  background-color: #1034a7;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.player-content {
  vertical-align: middle;
  line-height: 50px;
}

.control {
  display: inline;
  margin: 15px;
  cursor: pointer;
  font-size: 20px;
}

.volume-range {
  display: none;
  width: 100px;
  bottom: 15px;
  right: 55px;
  position: absolute;
}

.volume-range-slider {
  cursor: pointer;
}

.volume-control:hover .volume-range {
  display: block;
}

.volume-control:hover {
  padding-left: 140px;
}

.volume-control {
  padding-left: 40px;
  display: inline;
  margin-right: 15px;
  cursor: pointer;
}

.control:active {
  position: relative;
  top: 1px;
}
.control:hover, .volume-control:hover {
  color: #bbcbe0;
}

.duration-control {
  font-size: 12px;
  float: left;
  color: #bbbbbb
}

.durationVolumeControl {
  position: absolute;
  right: 50px;
  display: inline;
}

.player-progress {
  cursor: pointer;
    height: 10px;
    padding-top: 5px;
    position: relative;
    top: -5px;
}

.progress-played, .progress-remaining {
  height: 2px;
}
.progress-played {
  #border: 1px #eeeeee solid;
  background-color: #eeeeee;
  #width: 5%;
  float: left;
}
.progress-remaining {
  #border: 1px #aaaaaa solid;
  background-color: #aaaaaa;
  width: 100%;
}

.progress-slider {
    position: relative;
    top: -10px;
    color: white;
    margin-right: -1px;
    float: right;
}

.progress-slider-disc {
  background-color: white;
  width: 12px;
  height: 12px;
  display: inline;
  float: right;
  border-radius: 50%;
  margin-top: -5px;
}

.progress-slider-disc li {
  list-style-type: disc;
  font-size: 30px;
  float: right;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: -36px;
  margin-right: -26px;
}

.control-padding {
  margin: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}

.nav li {
  margin-right: 15px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}
